@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500;700&family=Manrope:wght@400;600&family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Work+Sans:wght@700;800&display=swap');



@import "tailwindcss";

@keyframes slideDown {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.25s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 0.25s ease-out forwards;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/src/fonts/Satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.spin-cw {
  animation: spinCw 1s ease-in-out;
}
.spin-ccw {
  animation: spinCcw 1s ease-in-out;
}


.spin-cw {
  animation: spinCw 1s ease-in-out;
}
.spin-ccw {
  animation: spinCcw 1s ease-in-out;
}

@keyframes spinCw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinCcw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


@keyframes scrollX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollX 60s linear infinite;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.05s ease;
  z-index: 9999;
  mix-blend-mode: difference;
}

.font-cine {
  font-family: 'Orbitron', sans-serif;
}

.clip-hex {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #edbfff;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease, transform 0.2s ease, opacity 0.2s ease, width 0.3s, height 0.3s;
  opacity: 0;
}

.custom-cursor.black {
  background-color: #000;
}

.custom-cursor.scrolling {
  width: 26px;
  height: 26px;
}


